.idea
.vscode
node_modules
*.js
*.js.map
*.d.ts
*.d.ts.map
tsconfig.tsbuildinfo
.env
coverage
features/videos/**
features/screenshots/**
!webpack.config.js
!jest.config.js
.yarn/*
!.yarn/cache
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
