.idea
.vscode

*.js
*.js.map
*.d.ts
*.d.ts.map
tsconfig.tsbuildinfo

coverage
features/videos/**
features/screenshots/**

.env
!webpack.config.js
!jest.config.js
!jest.setup.js

.yarn/*
!.yarn/cache
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
node_modules
